<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Add User</title>
</head>
<body>
    <form th:action="@{/user/add}" method="post" th:object="${user}">
        <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:field="*{username}" th:value="${username}" required />
        <br>

        <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{email}" th:value="${email}" required/>
        <br>

        <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" required/>
        <br>

        <label for="verifyPassword">Verify Password:</label>
        <input type="password" id="verifyPassword" name="verifyPassword" required/>
        <br>

        <button type="submit">Add User</button>


    </form>

</body>
</html>